@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-instrument: var(--font-instrument-sans);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .glass-navbar {
    background: linear-gradient(85.13deg, rgba(104, 1, 254, 0.03) 2.96%, rgba(217, 217, 217, 0.03) 96.14%);
    backdrop-filter: blur(15px);
    position: relative;
    border-radius: 36px;
  }

  /* This creates the glowing gradient border effect */
  .glass-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 36px;
    padding: 1px;
    /* Border thickness */
    background: conic-gradient(from 179.78deg at 50% 50%, rgba(255, 255, 255, 0.07) -54.98deg, #6700FF 52.13deg, rgba(255, 255, 255, 0.04) 125.06deg, #FFFFFF 235.09deg, rgba(255, 255, 255, 0.07) 305.02deg, #6700FF 412.13deg);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .glass-call-btn {
    position: relative;
    background: linear-gradient(85.13deg, rgba(104, 1, 254, 0.03) 2.96%, rgba(217, 217, 217, 0.03) 96.14%);
    backdrop-filter: blur(9px);
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  /* The Glowing Gradient Border Logic */
  .glass-call-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 36px;
    padding: 1px;
    /* The border width */
    background: conic-gradient(from 179.78deg at 50% 50%,
        rgba(255, 255, 255, 0.07) -54.98deg,
        #6700FF 52.13deg,
        rgba(255, 255, 255, 0.04) 125.06deg,
        #FFFFFF 235.09deg,
        rgba(255, 255, 255, 0.07) 305.02deg,
        #6700FF 412.13deg);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}